# Binaries for programs and plugins
main
AOC_2023
*.exe
*.exe~
*.so
*.dylib
*.dll
*.gc.log

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js

# AOC inputs
input.txt
test*.txt
